/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {

  height: 70%;
  width: 70%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(10, 0, 40, 0.4 ), rgba(10, 0, 40, 0.4)),
    url(../img/road.jpg);
      background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header{
    background: #3e7fb8;
    font-size: 40px;
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
    font-family: Arial;
    color: white;
    font-family: candara;
}



.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}